.bg-img{
    background-image: url("../../../assets/images/add1.jpg");
    background-repeat: no-repeat;
        background-size: 100%;
        position: fixed;
        width: 100%;
        height: 100%;
       
}
.gray-textbox {
    color: rgb(8, 8, 8);
    /* Text color */
    background-color: white;
    /* Background color */
}