.grid-container {



    display: grid;



    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));



    gap: 20px;



    padding: 20px;

    background-color: rgba(228, 222, 199, 0.349);



}

* {

    background-color: rgba(228, 222, 199, 0.349);

}







.leasing-card {



    border: 1px solid #000000;



    border-radius: 5px;





    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);



    padding: 15px;



    background-color: #fff;



    text-align: left;



    transition: box-shadow 0.3s ease-in-out;



}







.leasing-card:hover {



    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    border-radius: 7px;



}







#imageC {



    max-width: 100%;



    height: auto;



}







a.heading {



    font-weight: bold;



}



/* Style the "Update" button */

.leasing-card button {

    background-color: #060606;

    color: #fff;

    border: none;

    border-radius: 5px;

    padding: 10px 15px;

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

}







/* Change button background color on hover */

.leasing-card button:hover {

    background-color: #070707;

}