<section class="about">
    <h1>About Us</h1>
    <p style="font-weight: bold"> Welcome to our Car Leasing platform...</p>
    <div class="about-info">
        <div class="about-img">
            <img src="../../../assets/images/book3.jpeg">
        </div>
        <div>
            <p>A car leasing platform is a digital service that provides a convenient and flexible solution for individuals and
            businesses looking to acquire vehicles without the burden of outright ownership. These platforms offer a wide range of
            benefits, allowing customers to select from various makes and models, often including the latest vehicles with the most
            advanced features. Car leasing platforms typically offer customizable lease terms, enabling customers to tailor the
            duration and mileage to their specific needs.</p>
            <button>Read More...</button>
        </div>
    </div>
</section>
 <!-- <section class="team">
    <h1>Meet Our Team</h1>
    <div class="team-cards">
       
        
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/images/MicrosoftTeams-image (23).png" alt="User 1">
            </div>
            <div class="card-info">
                <h2 class="card-name">Sneha</h2>
                <p class="card-email">sneha123@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>

       
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/images/MicrosoftTeams-image (24).png" alt="User 2">
            </div>
            <div class="card-info">
                <h2 class="card-name">Ramesh</h2>
                <p class="card-email">ramesh123@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
      
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/images/MicrosoftTeams-image (22).png" alt="User 3">
            </div>
            <div class="card-info">
                <h2 class="card-name">Bharath</h2> 
                <p class="card-email">bharath123@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</section>  -->
