<div class="modal-header">
    <h5 class="modal-title " id="password_reset_modal" style="color: black;">Reset Password</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
        <p class="card-text py-2" style="color: black;">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <mdb-form-control class="mb-4">
            <input mdbInput type="email" [(ngModel)]="email" id="loginName" class="form-control" />
            <label mdbLabel class="form-label" for="loginName">Email or username</label>
        </mdb-form-control>
        <button class="btn btn-primary w-100"  style="background-color: rgb(253, 252, 252);" (click)="send_mail()"><label class="custom-label">Reset Password</label></button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Close
    </button>
</div>

