<form (ngSubmit)="saveEntity()" class="form-container">
    <div class="form-group">
        <label for="id">Id:</label>
        <input type="text" id="id" [(ngModel)]="newEntity.id" name="id" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="fileName">File Name:</label>
        <input type="text" id="fileName" [(ngModel)]="newEntity.fileName" name="fileName" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="fileType">File Type:</label>
        <select id="fileType" [(ngModel)]="newEntity.fileType" name="fileType" class="form-control" required>
            <option value="License">License</option>
            <option value="Aadhar Card">Aadhar Card</option>
        </select>
    </div>

    <div class="form-group">
        <label for="uploadedBy">Uploaded By:</label>
        <select id="uploadedBy" [(ngModel)]="newEntity.uploadedBy" name="uploadedBy" class="form-control" required>
            <option value="Buyer" selected>Buyer</option>
            <option value="Seller">Seller</option>
        </select>
    </div>

    <div class="form-group">
        <label for="file">Upload PDF:</label>
        <input type="file" id="file" (change)="onFileChange($event)" class="form-control" required>
    </div>

    <div class="navdiv">
        <button type="submit">Submit</button>&nbsp;
        <button (click)="fetchDocumentContent(newEntity.id)" id="view">View</button>&nbsp;
        <button (click)="deleteEntity(newEntity.id)" id="delete">Delete</button>&nbsp;
    </div>

    <iframe *ngIf="viewDocument" [src]="viewDocument" width="100%" height="400px"></iframe>
</form>